@charset 'UTF-8';
/*初期化*/
@import url("https://fonts.googleapis.com/css?family=Raleway:500");

@font-face {
    font-family: Pigmo-01;
    src: local('Pigmo-01.otf'),

        local('//Library/Fonts/Pigmo-01.otf'),
        url('Pigmo-01.otf'),
        url(../Pigmo-01.otf),
        url('../Pigmo-01.otf'),
        url(Pigmo-01.otf),
        local( //Library/Fonts/Pigmo-01.otf);
}
@font-face { 
font-family: PopRumCute; 
src:local('PopRumCute.otf'),

local('//Library/Fonts/PopRumCute.otf'),
url('PopRumCute.otf'), 
url(../PopRumCute.otf),
url('../PopRumCute.otf'),
url(PopRumCute.otf),
local(//Library/Fonts/PopRumCute.otf);
} 

* {
    font-size: .95em;

    margin: 0;
    padding: 0;
}

li {
    list-style-position: outside;
    list-style-type: none;
}

img {
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

body {
    background: black;

    overflow: auto;
    margin: 0;
    place-items: center;

}

/*左右要素*/
#navi,
#contain {


    position: absolute;
}



#navi {
    height: 100vh;
    width: 20%;
    left: 0px;
    box-sizing: border-box;
    background-color: pink;
    position: fixed;

    padding: 1rem;
}

#contain {
    width: 80%;
    right: 0px;
    box-sizing: border-box;
    background-color: skyblue;
    height: 4000px;
    overflow-x: auto;

    background-image: url(../img/bgmovvvv.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

#title {
    text-align: center;
    height: 120px;
    width: 740px;
    margin: auto;
    background-image: url(../img/eventttt.png);

}

.event1,
.event2 {
    background: rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-top: 30px;
    margin: auto;
    margin-bottom: 30px;

}

.event1 p,
.event2 p {
    text-align: center;
    color: white;
    font-family: Pigmo-01;
    font-size: 3em;



}

#contain h1 {
    overflow: hidden;
    height: auto;
    text-align: center;
}

#contain p img {

    overflow: hidden;
    height: 65vh;
    width: 30vw;
}